# General
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp
*.bak
*.swp
*.txt

# Distribution / Build
build/
dist/
*.spec
!switchcraft.spec
!switchcraft_cli.spec
!switchcraft_legacy.spec
!switchcraft_modern.spec
!file_version_info.txt
!file_version_info_legacy.txt
*.egg-info/
var/
bin/
/src/switchcraft/assets/addons

# PyInstaller
*.manifest

# Installer / Binary
*.exe
*.msi
*.intunewin

# Intune / Credentials
*.pfx
.env
auth.json

# IDEs
.vscode/
.idea/
.vs/
*.suo
*.user

# Local Tests
ComSoft-Basic.exe

# SwitchCraft tools
tools/
*.exe

# Unit Test / Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Virtual Env
venv/
env/
.venv/

# SwitchCraft - Specific Runtime
debug_pyinstaller.py
debug_collection.py
build_debug/switchcraft_modern/base_library.zip
*.toc
build_debug/switchcraft_modern/PYZ-00.pyz
/build_debug
inspect_tabs.py
inspect_flet.py
flet_inspect*.py
fix_deprecations.py
test_flet_controls.py
test_tabs*.py
/docs/node_modules
/docs/.vitepress
SwitchCraft.ps1
mock_script.ps1
debug_shell.py
debug_button.py
debug_button_2.py
/docs/public/demo
/build_web/switchcraft
/build_web
/MagicMock/mock.client_storage.get()
test_output.ps1
